{% extends "english/base_english.html" %}

{% block main %}
Загружено слов - <span id="count_is">{{count}}</span>
    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">infinitive</th>
      <th scope="col">past_simple</th>
      <th scope="col">past_participle</th>
      <th scope="col">russian</th>
      <th scope="col">heavy</th>
      <th scope="col">learned</th>

    </tr>
  </thead>
  <tbody>
  {% for word in words %}
    <tr>
      <td>{{word.infinitive}}</td>
      <td>{{word.past_simple}}</td>
      <td>{{word.past_participle}}</td>
      <td>{{word.russian}}</td>
      <td>{{word.heavy}}</td>
      <td>{{word.learned}}</td>


    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
