<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fonts</title>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?
    family=EB+Garamond:ital@0;1&
    family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <style type="text/css">
  font-family:'EB Garamond', serif;
  font-family:'Roboto Slab', serif;
  
        div {
            font-family:"EB Garamond" ;
        }
        span {
            font-family: 'Roboto Slab' ;
        }
    </style>
</head>
<body>

<div>Прокрастинация <br>

    <span>от англ. procrastination — задержка, откладывание</span>
</div>
<div>
В психологии — склонность к постоянному откладыванию даже важных и срочных дел, приводящая к жизненным проблемам и болезненным психологическим эффектам.
</div>
<div>
Прокрастинация проявляется в том, что человек, осознавая необходимость выполнения вполне конкретных важных дел (например, своих должностных обязанностей), игнорирует эту необходимость и отвлекает свое внимание на бытовые мелочи или развлечения.
</div>
<div>
Прокрастинация отличается от лени тем, что в случае лени субъект не хочет ничего делать и не беспокоится по этому поводу, а в состоянии прокрастинации он осознает важность и срочность работы, но не делает ее, возможно, находя те или иные самооправдания. От отдыха прокрастинацию отличает то, что при отдыхе человек восполняет запасы энергии, а при прокрастинации — теряет.
</div>
</body>
</html>