<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/start/css/custom.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>Oleksii Kovalenko</title>
    <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
    <link rel="icon" type="static/png" href="/static/favicon.ico" />
      <meta property="og:title" content="Oleksii Kovalenko, Python dev.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="static/og.gif">
  </head>
  <body>

    <section class="promo dark-bg pt-2 pb-5">
      <div class="container">
        <nav class="navbar navbar-expand-lg mb-5 navbar-dark">
          <a href="house/" class="navbar-brand logo d-flex align-items-center text-white text-decoration-none align-content-start">
            <div class="logo-left pr-2">
              <img src="static/img/foto%20AK.jpg" alt="" class="rounded-circle" width="54">
            </div>
            <div class="logo-right ">
              <div class="logo-title">Oleksii Kovalenko</div>
              <div class="logo-subtitle text-muted">Junior Python dev</div>
            </div>
          </a>
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav m-auto">
              <li class="nav-item mx-3">
                <a href="#story" class="nav-link text-muted link-border-bottom">My story</a>
              </li>
              <li class="nav-item mx-3">
                <a href="#projects" class="nav-link text-muted link-border-bottom">My works</a>
              </li>
              <li class="nav-item mx-3">
                <a href="#contact" class="nav-link text-muted link-border-bottom">Cooperation</a>
              </li>
            </ul>
            <ul class="nav ml-auto">
              <li class="nav-item mx-3">
                <a href="https://github.com/alex2011ua" class="nav-link text-white link-border-bottom">Github</a>
              </li>
              <li class="nav-item mx-3 mr-0">
                <a href="#contact" class="nav-link text-white link-border-bottom">Write me</a>
              </li>
            </ul>
          </div>
        </nav>

        
        <div class="row py-0 py-sm-5">
          <div class="col-12 col-lg-8 offset-lg-2 mb-0 mb-sm-5 py-5">
            <h1 class="h1 font-weight-bold font-color-green mb-4 my-h1">Hello! Call me - Alex!</h1>
            <p class="promo-text pb-3">I am a junior developer, I study <abbr>Python</abbr>, <abbr>Django</abbr> and&nbsp;
              <abbr>Flask.</abbr> I want to learn how to do a good back-end, find a job and make new friends.</p>
            <a href="#contact" class="btn btn-success btn-green">Write me</a>
          </div>
        </div>
      </div>
    </section>

    <section class="story container py-5 " id="story">
      <h2 class="h1 font-weight-bold mt-4 mb-3 mb-sm-5 pb-3 text-center my-h1">My history</h2>
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 px-2 pb-5">
          <p class="font-weight-bold pb-4">Associated with <abbr>IT</abbr> all my life, engaged in maintenance and
            adjustment computer and office equipment.
            At the beginning of 2020, I decided to try my hand at software development.
            I started by taking the following courses:</p>
            <p class="pb-3">Stepik:</p>
            <ul>
              <li><a href="  https://stepik.org/cert/272081  " class="story-link" target="_blank">Programming in Python</a></li>
              <li><a href="  https://stepik.org/cert/783229  " class="story-link" target="_blank">"Generation Python": a course for beginners</a></li>
              <li><a href="  https://stepik.org/cert/282694  " class="story-link" target="_blank">Python: Basics and Applications</a></li>
              <li><a href=" https://stepik.org/cert/766028 " class="story-link" target="_blank">Web technologies</a></li>
              <li><a href=" https://stepik.org/cert/791895 " class="story-link" target="_blank">Flask from scratch in practice</a></li>
              <li><a href=" https://stepik.org/cert/1034200 " class="story-link" target="_blank">JavaScript for beginners</a></li>

            </ul>
          <p class="pb-3">Cursera:</p>
          <ul>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/3YDGDQ2EK9MG" class="story-link" target="_blank">Dive into Python</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/7NAC6LKHLUSJ" class="story-link" target="_blank">OOP and Design Patterns in Python</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/ZRCCHHE93MVE" class="story-link" target="_blank">Creating Web Services in Python</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/NXQVEPXLYQ5R" class="story-link" target="_blank">Basics of HTML and CSS</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/TGYE3JY44DLE" class="story-link" target="_blank">JavaScript Part 1: Fundamentals and Features</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/ZN5JFJRV26U9" class="story-link" target="_blank">JavaScript Part 2: Prototypes and Asynchrony</a></li>
              <li><a href="https://coursera.org/share/d9cf8ba82b602ee5cb63f2595116e33e" class="story-link" target="_blank">Agile and Scrum in working on projects and products</a></li>
              <li><a href="https://coursera.org/share/cedf10310fc1ba328b28335a3cef3779" class="story-link" target="_blank">Docker. Basics</a></li>

          </ul>
           <p class="pb-3">SoftServe:</p>
          <ul>
              <li>




                <a href="https://career.softserveinc.com/uk-ua/certification/verification" class="story-link" target="_blank">Python online marathon</a></li>
          </ul>
          <a href="static/start/Certificate SoftServe Marathon.jpg" target="_blank">
           <img src="static/start/Certificate SoftServe Marathon.jpg" alt="" class="w-100 pb-4"></a>
          <p class="pb-3">I couldn't complete my internship at Yalantis because the war started.</p>

          <p class="pb-3">During the study I used <abbr class="names"> Git</abbr>  to synchronize the code on your home and work computer.
            I plan to reinforce the acquired theoretical knowledge with practice.</p>
          <p>Studied the blind printing method.</p>
        </div>
      </div>
    </section>

    <section class="projects dark-bg pt-3 pt-sm-5 pb-3" id="projects">
      <div class="container">
        <h2 class="h1 font-weight-bold text-center mt-4 mt-sm-5 mb-0 mb-sm-4 pb-5 text-center my-h1" >My works</h2>

        <div class="row">
          <div class="col-12 col-sm-12 mb-5">
            <img src="static/img/engilsh.jpg" alt="" class="w-50 pb-4 leftimg">
            <p>Learning English words</p>
            <p>When studying in English courses, there is a need to learn words. I made interface that helps me in
              this is not an easy task! I can learn words on the subway when you put the children to bed, before going to bed, etc. Technologies involved:
              <abbr class="names">Python</abbr>, <abbr class="names">Django</abbr>, <abbr class="names">JS</abbr>, <abbr class="names">AJAX</abbr>. </p>
            <p>
              <a href="english/" target="_blank" class="link link-green mr-4">View project</a>
              <a href="https://github.com/alex2011ua/smart_home/tree/main/english" target="_blank" class="link">Source</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-12 mb-5">
            <img src="static/img/avto.gif" alt="" class="w-50 pb-4 leftimg">
            <p>Page for selecting a car based on the number of cars sold</p>
            <p>Using the API, I send a request to auto.ria.com to get a list of cars that match the parameters.
              Then a list of lists to be sent is formed <abbr class="names">AJAX</abbr> server requests. Vehicle information is cached.</p>
            <p>
              <a href="avto/" target="_blank" class="link link-green mr-4">View project</a>
              <a href="https://github.com/alex2011ua/smart_home/tree/main/selection_avto" target="_blank" class="link">Source</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 mb-5">

            <p>I live in a private house. In my free time, I am engaged in the implementation and constant modernization of the personal project "Smart Home".</p>
            <img src="static/img/smart_home.gif" alt="" class="w-100 pb-4">

            <img src="static/img/smart_home2.gif" alt="" class="leftimg">
            <p class="mb-3">
              Implemented a smart home project by using<abbr class="names"> Django</abbr>.<br>
              Running server on mini computer <abbr class="names"> Raspberry</abbr> on which installed and configured <abbr class="names"> Nginx</abbr>, <abbr class="names"> Gunicorn</abbr>.<br>
              Controller <abbr class="names"> Arduino</abbr> connected to the server  to work with sensors.<br>
              With the help of <abbr class="names"> Celery</abbr>, I set up regular polling of sensors and performing lengthy operations.<br>
              The information is stored in <abbr class="names"> SQLite</abbr><br>
            </p>
            <div class="center">Implemented functionality:</div>

              <ul>
                <li>The API requests the weather forecast once a day for automatic watering.</li>
                <li>In winter, remote control of street illumination is implemented.</li>
                <li>Recording in the database and displaying the values of various sensors on the site, namely: temperature, door opening, air quality, etc., are connected and implemented.</li>
                <li>Implemented remote control of various devices.</li>
                <li>Connected Telegram and Viber bots to get important information.</li>
                <li>Identification and authentication of the user by built-in means <abbr class="names"> Django</abbr>.</li>
                <li>Admin panel connected.</li>
              </ul>

            <p>
              <a href="https://github.com/alex2011ua/smart_home/tree/main/house/core" target="_blank" class="link">Source</a>
        </div>
<!--
        <div class="row">
          <div class="col-12 col-sm-6 mb-5">
            <img src="static/django_scr.gif" alt="" class="w-100 pb-4">
            <p class="mb-3">Django. Контроль въезда на територию. Несколько постов пропуска. Деплой на Heroku тестовой версии. Подключена  <abbr class="names"> ClearDB MySQL</abbr> и настроена аутентификация пользователей.  </p>
            <p>
              <a href="https://django-avto.herokuapp.com/" target="_blank" class="link link-green mr-4">Смотреть проект</a>
              <a href="https://github.com/alex2011ua/heroku" target="_blank" class="link">Исходный код</a>
            </p>
          </div>
-->
          <div class="col-12 col-sm-6 mb-5">
            <img src="static/img/flask.gif" alt="" class="w-100 pb-4">
            <p class="mb-3"><abbr class="names"> Flask</abbr>. Search engine for tours. 3 screens: home, direction, tour.</p>

              <a href="https://github.com/alex2011ua/search_tours" target="_blank" class="link">Source</a>

          </div>

          <div class="col-12 col-sm-6 mb-5">
            <img src="static/img/restoran.gif" alt="" class="w-100 pb-4">
            <p class="mb-3"><abbr class="names"> Flask</abbr>. Drone food delivery service <abbr class="names"> MySQL</abbr>, user authentication, admin panel, personal account.</p>
            <p>
              <a href="https://github.com/alex2011ua/flask_restoran" target="_blank" class="link">Source</a>
            </p>
          </div>

        </div>
      </div>
 </section>

    <section class="goals container pt-3 pt-sm-5 pb-3">
      <h2 class="h2 font-weight-bold my-4 text-center my-h1">My goals</h2>
      <div class="row">
        <div class="col-12  pb-1">
          <p class="pb-2">I want to improve my knowledge of JavaScript, in particular, learn React. Become a professional back-end developer. Continue learning and improving English. </p>
        </div>
      </div>
    </section>

    <section class="goals container mb-5 pb-sm-5 pb-0" id="contact">
      <h2 class="h2 font-weight-bold my-4 text-center my-h1 ">Cooperation</h2>
      <div class="row">
        <div class="col-12 pb-1">
              <p class="d-flex justify-content-between flex-wrap">
                <a href="https://www.facebook.com/profile.php?id=100002057601437" class="btn btn-primary mb-1" target="_blank">Write to FB</a>
                <a href="https://teleg.run/Alex2011ua" class="btn btn-info mb-1" target="_blank">Write to Telegram</a>
                <a href="mailto:alex2011ua@gmail.com" class="btn btn btn-dark mb-1" target="_blank">Write to Mail</a>
              </p>
        </div>
      </div>
    </section>

    <footer class="footer dark-bg">
      <nav class="container navbar ">
        <ul class="nav m-auto py-2">
          <li class="nav-item mx-3">
            Thank you for viewing! Have a great mood! Take care of yourself!
          </li>
        </ul>
      </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>