{% extends "start/base_start.html" %}
{% load static %}
{% block title %}Анализ рынка{% endblock %}

{% block main %}
<div class="container py-5">

    <div class="row mb-4">

        <div class="col-lg-8 mx-auto text-center">
            <a class="btn btn-primary" href="house/" role="button">Home</a>
            <h1 class="display-4">Выбор автоомобиля по параметрам</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Заполнение параметров автомобиля </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" method="post" enctype="multipart/form-data" action="/">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Год выпуска</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" value="1995" name="s_yers" class="form-control" required > <input type="number" value="2005" name="po_yers" class="form-control" required> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Price</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" value="1000" name="price_ot" class="form-control" required> <input type="number" value="100000" name="price_do" class="form-control" required> </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Топливо</h6>
                                                </span></label>
                                            <div class="input-group">

<div class="form-check form-check-inline">
<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" name="toplivo" checked>
<label class="form-check-label" for="inlineCheckbox1" >Бензин</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" name="toplivo" checked>
<label class="form-check-label" for="inlineCheckbox2">Газ</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" name="toplivo" checked>
<label class="form-check-label" for="inlineCheckbox3">Электро</label>
</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Отправить запрос! </button></div>
                            </form>
                        </div>
                    </div> <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
{{count}}
{% endblock %}