.button{
    transform: translate(200px,100px);
    width: 100px;
    height: 100px;
    transition-property: transform, background-color;
    transition-duration: 1s,4s, 6s;
    transition-delay: 1s;
    background-color: #82c272;

}
.button:hover {
    transform:translate(200px,100px);
    background-color: #f00;
}