{% extends "core/base.html" %}
{% load static %}

{% block main %}
<script type="text/javascript" src='{% static "js/send_param.js" %}'></script>
<header>
  <div id="layer1" class="container-fluid time_center" >
      <span class="my-time"> {{time}}</span>{{ alerts }}{% for item in raspberry.Raspberry %}<br>{{item}}{% endfor %}
  </div>
</header>

<div class="container-fluid bg-info ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 time_center">
            {% if button.Dor_street %} <span class="badge badge-pill badge-danger b">Дверь Открыта</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Дверь Закрыта</span>
            {% endif %}
            {% if button.Garaz %}      <span class="badge badge-pill badge-danger b">Гараж Открыт</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Гараж Закрыт</span>
            {% endif %}
            {% if sensors.gaz_MQ4 > 190 or sensors.gaz_MQ135 > 150 %} <span class="badge badge-pill badge-dark b ">Внимание: ГАЗ!</span>
            {% else %} <span class="badge badge-pill badge-secondary b ">Газ в норме</span>
            {% endif%}
            {% if alarms.value == 0 %}<a href="{% url 'alarms'%} ">  <button type="button" class="btn btn-danger b" > Вернуть напоминания</button></a>
            {% else %} <a href="{% url 'alarms'%}">  <button type="button" class="btn  btn-primary b" > Напоминания</button></a>
            {% endif %}
            {% if radio_room1.value %} <span class="badge badge-pill badge-success b ">Комната - {{radio_room1.label}}</span>
            {% else %}          <span class="badge badge-pill badge-danger b">Комната - {{radio_room1.label}}</span>
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">


            {% if poliv.label == 'выключен' %} <a href="{% url 'solnce' %}">  <button type="button" class="btn btn-secondary b" >Солнце</button></a> <br />
            {% else %} <a href="{% url 'solnce' %} ">  <button type="button" class="btn btn-success  b" >Солнце</button></a> <br />
            {% endif%}
            {% if V24.label == "выключен" %} <a href="{% url 'zapusk_poliva' %}">  <button type="button" class="btn btn-dark b" >Запуск полива </button></a> <br />
            {% else %} <a href="{% url 'V24' %} ">  <button type="button" class="btn btn-light b" >Закрыть воду </button></a> <br />
            {% endif%}
            {% if light_perim.value == 0 %} <a href="{% url 'rele' light_perim.label %}">  <button type="button" class="btn btn-dark b" >Включить балкон </button></a> <br />
            {% else %} <a href="{% url 'rele' light_perim.label %} ">  <button type="button" class="btn btn-light b" >Выключить балкон </button></a> <br />
            {% endif%}
            {% if poliv.label == 'выключен' %} <a href="{% url 'poliv_index'  %}">  <button type="button" class="btn btn-secondary b" >Управление поливом</button></a> <br />
            {% else %} <a href="{% url 'poliv_index' %} ">  <button type="button" class="btn btn-success  b" >Управление поливом </button></a> <br />
            {% endif%}

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a class="" href="/house/admin">
                        <span class="badge badge-pill badge-light ">Admin</span>
                    </a>
            <p class=""><a class="" href="{% url 'form' %}">
                        <img class="my-center picture"  src="http://openweathermap.org/img/wn/{{ icon }}.png">
                        <br />
                        <img  src="{% static 'img/home.gif' %}" height="65">

                    {% if raspberry.temp_core > 50 %} {{raspberry.temp_core}}&deg;<br />
                    {% endif %}
                       </a>
            </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a href="{% url 'restart_cam'%} ">  <button type="button" class="btn btn-primary b"  >Перезагрузка камер</button></a> <br />
            <a href="{% url 'temp'%} ">  <button type="button" class="btn btn-primary b" >Обновление датчиков </button></a> <br />

            {% if boiler.value == 0 %}<a href="{% url 'boiler'%} ">  <button type="button" class="btn btn-warning b" >Включение бойлера </button></a>
            {% else %} <a href="">  <button type="button" class="btn btn-danger b" >Бойлер включен </button></a>
            {% endif %}

            {% if printer.value == 0 %}<a href="{% url 'printer'%} ">  <button type="button" class="btn btn-warning b" >Включение принтера </button></a>
            {% else %} <a href="{% url 'printer'%}">  <button type="button" class="btn btn-danger b" >Выключение принтера </button></a>
            {% endif %}



        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 time_center">
            <p><strong>На неделе:</strong><br />
            {% if weather_6_day.rain > 2 %}Дожди - {{weather_6_day.rain}}мм. <br /> {% endif %}
            {% if weather_6_day.snow > 2 %}Снег - {{weather_6_day.snow}}мм. <br /> {% endif %}
                Минимальная температура: {{weather_6_day.temp_min}}&deg;<br />
                Максимальная температура: {{weather_6_day.temp_max}}&deg;<br />

            {% if sensors.temp_voda < 2 %}<span class="badge badge-pill badge-warning  ">Температура на летней кухне - {{sensors.temp_voda}}</span> {% endif %}
            {% if sensors.temp_gaz < 2 %}<span class="badge badge-pill badge-warning  ">Температура в котельной - {{sensors.temp_gaz}}</span> {% endif %}


            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md">
          <div class="card">
              <div class="card-header">
                    Инфо
              </div>
              <div class="card-body">
                    <div class="row fon">
                        <div class="col-sm"><strong>Сейчас:</strong></div>
                        <div class="col-4-sm my-time"><strong>{{sensors.date_t_h}}</strong></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">{{description}}</div>
                        <div class="col-4-sm"></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Прогноз температуры</div>
                        <div class="col-4-sm">{{temp}}&deg</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm"><strong>Фактическая температура</strong></div>
                        <div class="col-4-sm"><strong>{{sensors.street_temp}}&deg;</strong></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Ветер</div>
                        <div class="col-4-sm"><em>{{wind}}</em> м/c</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Влажность</div>
                        <div class="col-4-sm"><em>{{sensors.humidity_street}}</em></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm"><strong><br />Завтра: </strong></div>
                        <div class="col-4-sm my-time"><br />{{weather_6_day.tomorrow}}</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">{{description_next}}</div>
                        <div class="col-4-sm"></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">вероятность осадков:</div>
                        <div class="col-4-sm"><em>{{pop_next}}</em></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">температура утром:</div>
                        <div class="col-4-sm"><em><em>{{temp_next_morn}}&deg;</em></em></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">температура днем:</div>
                        <div class="col-4-sm">{{temp_next_day}}&deg;</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">температура вечером: </div>
                        <div class="col-4-sm"><em>{{temp_next_eve}}&deg;</em></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">ветер:</div>
                        <div class="col-4-sm"><em> {{wind_speed_next}}м/с.</em></div>
                    </div>
                </div>
          </div>
      </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Котельня
                </div>
                <div class="card-body ">
                    <div class="row fon">
                        <div class="col-sm"><strong>Температура в теплице</strong></div>
                        <div class="col-4-sm"><strong>{{ sensors.temp_teplica }}&deg</strong></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Минимальная температура сегодня</div>
                        <div class="col-4-sm">{{ min_temp_teplica.value }}&deg</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Максимальная температура сегодня</div>
                        <div class="col-4-sm">{{ max_temp_teplica.value }}&deg</div>
                    </div>

                    <div class="row fon">
                        <div class="col-sm">Влажность в теплице</div>
                        <div class="col-4-sm">{{ sensors.humidity_teplica }}</div>
                    </div>

                    <div class="row fon">
                        <div class="col-sm"><strong>Температура воздуха в котельне</strong></div>
                        <div class="col-4-sm"><strong>{{ sensors.temp_gaz }}&deg</strong></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Влажность в котельне</div>
                        <div class="col-4-sm">{{ sensors.humidity_gaz }}</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm"><strong>Температура летняя кухня</strong></div>
                        <div class="col-4-sm"><strong>{{ sensors.temp_voda }}&deg</strong></div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Влажность летняя кухня</div>
                        <div class="col-4-sm">{{ sensors.humidity_voda }}</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Состояние воздужа по датчику MQ4</div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ4 }}</div>
                    </div>
                    <div class="row fon">
                        <div class="col-sm">Состояние воздужа по датчику MQ135</div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ135 }}</div>
                    </div>
                    {% if Error_dht.value == 1 %}
                    <div class="row fon">
                        <div class="col-sm"><strong>Обнаружены ошибки датчиков {{Error_dht.date}}</strong></div>
                        <div class="col-4-sm">{{ Error_dht.label }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
  </div>
</div>
<table class="table table-striped table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">дата</th>
      <th scope="col">Результат</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody class="">
    {% for log in logs %}
    <tr>
      <th scope="row">{{ log.id }}</th>
      <td>{{ log.date_log }}</td>
      <td>{{ log.status }}</td>
      <td>{{ log.title_log }}</td>
      <td>{{ log.description_log }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/house/info/refresh/">
    <img class="img-fluid"
     src="/static/test.png"
     alt="testsss">
</a>
<footer>
  <div class="time_center">
      <div>
              <a href="{% url 'reset_arduino'%} ">  <button type="button" class="btn btn-warning b" >Перезагрузка Ардуино </button></a> <br />
              <a href="{% url 'sound'%} ">  <button type="button" class="btn badge-warning footer_button" >Sound </button></a>
              <a href="{% url 'light'%} ">  <button type="button" class="btn badge-secondary footer_button" >Свет </button></a>
              <a href="{% url 'test'%} ">  <button type="button" class="btn badge-success footer_button"  >Тест Ардуино</button></a>
            <button onClick='send_param_bot()' type="button" class="btn badge-success footer_button"  >String Ардуино</button>
              <a href="{% url 'mail_test'%} ">  <button type="button" class="btn badge-danger footer_button" >Тест Mail </button></a>
              <a href="{% url 'telegram_test'%} ">  <button type="button" class="btn badge-info footer_button" >Тест BOT </button></a>
              <a href="{% url 'task'%} ">  <button type="button" class="btn badge-secondary footer_button" >task </button></a>
          <a href="{% url 'ping'%} ">  <button type="button" class="btn badge-secondary footer_button" >test internet </button></a>
          <a href="{% url 'avto'%} ">  <button type="button" class="btn badge-secondary footer_button" >Check avto </button></a>



      </div>

      <div >
          <a href="{% url 'logout'%} ">  <button type="button" class="btn badge-dark footer_button" >EXIT {{user}}</button></a>
      </div>

  </div>
</footer>



{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
{% block jivo %}
{% endblock %}
</body>
</html>