{% extends "core/base.html" %}
{% load static %}

{% block head %}
<header>
  <div id="layer1" class="container-fluid time_center" >
    {{time}}{{ alerts }}
  </div>
</header>

<div class="container-fluid bg-info ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 time_center">
            {% if button.Dor_street %} <span class="badge badge-pill badge-danger b">Дверь Открыта</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Дверь Закрыта</span>
            {% endif %}
            {% if button.Garaz %}      <span class="badge badge-pill badge-danger b">Гараж Открыт</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Гараж Закрыт</span>
            {% endif %}
            {% if sensors.gaz_MQ4 > 190 or sensors.gaz_MQ135 > 150 %} <span class="badge badge-pill badge-dark b ">Внимание: ГАЗ!</span>
            {% else %} <span class="badge badge-pill badge-light b ">Газ в норме</span>
            {% endif%}

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a href="{% url 'test'%} ">  <button type="button" class="btn btn-primary b"  >Тест Ардуино</button></a> <br />
            <a href="{% url 'restart_cam'%} ">  <button type="button" class="btn btn-primary b"  >Перезагрузка камер</button></a> <br />
            <a href="{% url 'temp'%} ">  <button type="button" class="btn btn-primary b" >Обновление датчиков </button></a> <br />

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a class="" href="/admin">
                        <span class="badge badge-pill badge-light ">Admin</span>
                    </a>
            <p class=""><a class="" href="{% url 'form' %}">
                        <img class="my-center"  src="http://openweathermap.org/img/wn/{{ icon }}.png">
                        <br />
                        <img  src="{% static 'img/home.gif' %}" height="65">
                    </a></p>{{raspberry.Raspberry}}<br />
                            {{raspberry.temp_core}}&deg;<br />


        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a href="{% url 'reset_arduino'%} ">  <button type="button" class="btn btn-warning b" >Перезагрузка Ардуино </button></a> <br />
            <a href="{% url 'boiler'%} ">  <button type="button" class="btn btn-warning b" >Включение бойлера </button></a>
            <a href="{% url 'sound'%} ">  <button type="button" class="btn btn-warning b" >Sound </button></a>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 time_center">
            <p><strong>На неделе:</strong><br />
            {% if weather_6_day.rain > 5 %}Дожди - {{weather_6_day.rain}}мм. <br /> {% endif %}
            {% if weather_6_day.snow > 5 %}Снег - {{weather_6_day.snow}}мм. <br /> {% endif %}
                Минимальная температура: {{weather_6_day.temp_min}}&deg;<br />
                Максимальная температура: {{weather_6_day.temp_max}}&deg;<br />
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md">
          <div class="card">
              <div class="card-header">
                    Инфо
              </div>
              <div class="card-body">
                    <div class="row">
                        <div class="col-sm"><strong>Сейчас:</strong></div>
                        <div class="col-4-sm">{{time}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">{{description}}</div>
                        <div class="col-4-sm"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Прогноз температуры</strong></div>
                        <div class="col-4-sm">{{temp}}&deg</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Фактическая температура</strong></div>
                        <div class="col-4-sm">{{sensors.street_temp}}&deg;</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Ветер</strong></div>
                        <div class="col-4-sm"><em>{{wind}}</em> м/c</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Влажность</strong></div>
                        <div class="col-4-sm"><em>{{sensors.humidity_street}}</em></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong><br />Завтра: </strong></div>
                        <div class="col-4-sm"><br />{{weather_6_day.tomorrow}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">{{description_next}}</div>
                        <div class="col-4-sm"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>вероятность осадков:</strong></div>
                        <div class="col-4-sm"><em>{{pop_next}}</em></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>температура утром:</strong></div>
                        <div class="col-4-sm"><em><em>{{temp_next_morn}}&deg;</em></em></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>температура днем:</strong></div>
                        <div class="col-4-sm">{{temp_next_day}}&deg;</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>температура вечером: </strong></div>
                        <div class="col-4-sm"><em>{{temp_next_eve}}&deg;</em></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>ветер:</strong></div>
                        <div class="col-4-sm"><em> {{wind_speed_next}}м/с.</em></div>
                    </div>
                </div>
          </div>
      </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Котельня
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm"><strong>Температура воздуха в котельне</strong></div>
                        <div class="col-4-sm">{{ sensors.temp_gaz }}&deg</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Влажность в котельне</strong></div>
                        <div class="col-4-sm">{{ sensors.humidity_gaz }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Температура воды подачи</strong></div>
                        <div class="col-4-sm">{{ sensors.temp_voda }}&deg</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Влажность возле котла</strong></div>
                        <div class="col-4-sm">{{ sensors.humidity_voda }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Состояние воздужа по датчику MQ4</strong></div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Состояние воздужа по датчику MQ135</strong></div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ135 }}</div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<table class="table table-striped table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">дата</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody class="">
    {% for log in logs %}
    <tr>
      <th scope="row">{{ log.id }}</th>
      <td>{{ log.date_log }}</td>
      <td>{{ log.title_log }}</td>
      <td>{{ log.description_log }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<footer>
  <div class="container-fluid">
    <div class="card-body">
    <span class="badge badge-pill badge-primary ">Primary</span>
    <span class="badge badge-pill badge-secondary ">Secondary</span>
    <span class="badge badge-pill badge-success  ">Success</span>
    <span class="badge badge-pill badge-danger ">Danger</span>
    <span class="badge badge-pill badge-warning  ">Warning</span>
    <span class="badge badge-pill badge-info ">Info</span>
    <span class="badge badge-pill badge-light ">Light</span>
    <span class="badge badge-pill badge-dark ">Dark</span>
</div>
  </div>
</footer>



{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>