{% extends "core/base.html" %}
{% load static %}

{% block head %}
<header>
  <div id="layer1" class="container-fluid time_center" >
    {{time}}{{ alerts }}
  </div>
</header>

<div class="container-fluid bg-info ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 ">
            <p><strong>Сейчас:</strong><br />
             {{description}}<br />
                <em>{{temp}}&deg;</em> - градусов,( <em>{{sensors.street_temp}}&deg;</em>) - датчик<br />
                ветер - <em>{{wind}}</em> м/c.<br />
                влажность - <em>{{sensors.humidity_street}}</em>
            </p>
            <p><strong>Завтра: </strong>{{weather_6_day.tomorrow}}<br />
              {{description_next}}<br />
                вероятность осадков: <em>{{pop_next}}</em>,<br />
                температура утром: <em>{{temp_next_morn}}&deg;</em><br />
                температура днем: <em>{{temp_next_day}}&deg;</em><br />
                температура вечером: <em>{{temp_next_eve}}&deg;</em><br />
                ветер:<em> {{wind_speed_next}}м/с.</em>
             </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <a href="{% url 'test'%} ">  <button type="button" class="btn btn-primary b"  >Тест Ардуино</button></a> <br />
            <a href="{% url 'restart_cam'%} ">  <button type="button" class="btn btn-primary b"  >Перезагрузка камер</button></a> <br />
            <a href="{% url 'temp'%} ">  <button type="button" class="btn btn-primary b" >Обновление датчиков </button></a> <br />
            <a href="{% url 'reset_arduino'%} ">  <button type="button" class="btn btn-warning b" >Перезагрузка Ардуино </button></a> <br />
            <a href="{% url 'Boiler'%} ">  <button type="button" class="btn btn-warning b" >Включение бойлера </button></a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            <p class=""><a class="" href="{% url 'form' %}">
                        <img class="my-center"  src="http://openweathermap.org/img/wn/{{ icon }}.png">
                        <br />
                        <img  src="{% static 'img/home.gif' %}" height="65">
                    </a></p>{{raspberry.Raspberry}}<br />
                            {{raspberry.temp_core}}&deg;
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 time_center">
            {% if button.Dor_street %} <span class="badge badge-pill badge-danger b">Дверь Открыта</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Дверь Закрыта</span>
            {% endif %}
            {% if button.Garaz %}      <span class="badge badge-pill badge-danger b">Гараж Открыт</span>
            {% else %}          <span class="badge badge-pill badge-success b ">Гараж Закрыт</span>
            {% endif %}
            {% if sensors.gaz_MQ4 > 190 or sensors.gaz_MQ135 > 150 %} <span class="badge badge-pill badge-dark b ">Внимание: ГАЗ!</span>
            {% else %} <span class="badge badge-pill badge-light b ">Газ в норме</span>
            {% endif%}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 ">
            <p><strong>На неделе:</strong><br />
            {% if weather_6_day.rain > 5 %}Дожди - {{weather_6_day.rain}}мм. <br /> {% endif %}
            {% if weather_6_day.snow > 5 %}Снег - {{weather_6_day.snow}}мм. <br /> {% endif %}
                Минимальная температура: {{weather_6_day.temp_min}}&deg;<br />
                Максимальная температура: {{weather_6_day.temp_max}}&deg;<br />
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md">
          <div class="card">
              <div class="card-header">
                    Настройки
              </div>
                <div class="card-body">
                    <span class="badge badge-pill badge-primary ">Primary</span>
                    <span class="badge badge-pill badge-secondary ">Secondary</span>
                    <span class="badge badge-pill badge-success  ">Success</span>
                    <span class="badge badge-pill badge-danger ">Danger</span>
                    <span class="badge badge-pill badge-warning  ">Warning</span>
                    <span class="badge badge-pill badge-info ">Info</span>
                    <span class="badge badge-pill badge-light ">Light</span>
                    <span class="badge badge-pill badge-dark ">Dark</span>
                </div>
          </div>
      </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Котельня
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm"><strong>Температура воздуха в котельне</strong></div>
                        <div class="col-4-sm">{{ sensors.temp_gaz }}&deg</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Влажность в котельне</strong></div>
                        <div class="col-4-sm">{{ sensors.humidity_gaz }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Температура воды подачи</strong></div>
                        <div class="col-4-sm">{{ sensors.temp_voda }}&deg</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Влажность возле котла</strong></div>
                        <div class="col-4-sm">{{ sensors.humidity_voda }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Состояние воздужа по датчику MQ4</strong></div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Состояние воздужа по датчику MQ135</strong></div>
                        <div class="col-4-sm">{{ sensors.gaz_MQ135 }}</div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">дата</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <th scope="row">{{ log.id }}</th>
      <td>{{ log.date_log }}</td>
      <td>{{ log.title_log }}</td>
      <td>{{ log.description_log }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<footer>
  <div class="container-fluid">
    FOOTER
  </div>
</footer>



{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>