{% extends "core/base.html" %}
{% load static %}

{% block title %}
полив участка
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/poliv.css" %}'>
{% endblock %}

{% block main %}
    {% if poliv.value == 0 %} <a href="{% url 'poliv_index'  %}">  <button type="button" class="btn btn-secondary b" >Управление поливом</button></a> <br />
    {% else %} <a href="{% url 'poliv_index' %} ">  <button type="button" class="btn btn-success  b" >Управление поливом </button></a> <br />
    {% endif%}

<div id="dvor">
{% csrf_token %}
    <a class="" href="{% url 'form' %}"><img id="dom" src="{% static 'img/home.gif' %}" height="100"></a>

    <div id="garaz" data-on="garaz">
        {% if poliv_all.poliv_garaz.value == 1 %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM">
        {% endif %}
    </div>

    <div id="pesochnica" data-on="pesochnica">
        {% if poliv_all.poliv_pesochnica.value == 1 %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM" data-on="pesochnica">
        {% endif %}
        <img src="{% static 'img/kach.gif' %}" height="100" alt="pesochnica.fif">
    </div>

    <div id="teplica" data-on="teplica">Теплица
        {% if poliv_all.poliv_teplica.value == 1 %}
        <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM">
        {% endif %}
    </div>

    <div id="elki" data-on="elki">
        {% if poliv_all.poliv_elki.value == 1 %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM">
        {% endif %}
        <img src="{% static 'img/elka.gif' %}" height="150" alt="elki.fif" >
    </div>

    <div id="sad" data-on="sad">
        {% if poliv_all.poliv_sad.value == 1 %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM">
        {% endif %}
        <img src="{% static 'img/sad.gif' %}" height="100" alt="sad.fif">
    </div>

    <div id="strawberry" data-on="rastberry">
        <img src="{% static 'img/rastberry.gif' %}" height="100" alt="strawberry.fif">
    </div>

</div>
<script type="text/javascript" src="{% static 'selection_avto/jquery/jquery-3.5.1.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<script type="text/javascript" src='{% static "js/polivScript.js" %}'></script>
{% endblock %}
{% block jivo %}  {% endblock %}
