{% extends "core/base.html" %}
{% load static %}

{% block title %}
полив участка
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/poliv.css" %}'>
{% endblock %}

{% block main %}


    {% if poliv_all.V24.label == 'выключен' %} <a href="{% url 'V24'  %}">  <button type="button" class="btn btn-secondary b" >Включить питание 24В</button></a>
    {% else %} <a href="{% url 'V24' %} ">  <button type="button" class="btn btn-success  b" >Выключить питание 24В</button></a>
    {% endif%}
{% if poliv_all.pshik.label == 'выключен' %} <a href="{% url 'pshik'  %}">  <button type="button" class="btn btn-secondary b" >Включить pshik</button></a>
    {% else %} <a href="{% url 'pshik' %} ">  <button type="button" class="btn btn-success  b" >Выключить pshik</button></a>
    {% endif%}


<div id="dvor">
{% csrf_token %}
    <a class="" href="{% url 'form' %}"><img id="dom" src="{% static 'img/home.gif' %}" height="100"></a>

    <div id="garaz" data-on="garaz">
        {% if poliv_all.poliv_garaz.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}" data-on="poliv_garaz" height="50" alt="pesochnica.fif" class="DHUM">
        {% endif %}
    <img src="{% static 'img/klumba.gif' %}" height="100" alt="pesochnica.fif" class="need" data-on="poliv_garaz">
    </div>

    <div id="pesochnica" data-on="pesochnica">
        {% if poliv_all.poliv_pesochnica.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM" data-on="poliv_pesochnica">
        {% endif %}
        <img src="{% static 'img/kach.gif' %}" height="100" alt="pesochnica.fif" class="need" data-on="poliv_pesochnica">
    </div>

    <div id="teplica" class="need" data-on="poliv_teplica">
        {% if poliv_all.poliv_teplica.label == 'включен' %}
        <img src="{% static 'img/rain.gif' %}" height="50" width="50" alt="poliv_teplica.fif" class="DHUM" data-on="poliv_teplica">
        {% endif %}
        <span class="need" data-on="poliv_teplica"></span>
    <img src="{% static 'img/teplica.gif' %}" height="100" alt="poliv_teplica.fif" class="need" data-on="poliv_teplica">
    </div>

    <div id="elki" data-on="elki">
        {% if poliv_all.poliv_elki.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}"  height="50" alt="pesochnica.fif" class="DHUM" data-on="poliv_elki">
        {% endif %}
        <img src="{% static 'img/elka.gif' %}" height="150" alt="elki.fif" class="need" data-on="poliv_elki" >
    </div>

    <div id="trava" data-on="trava">
        {% if poliv_all.poliv_trava.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM2" data-on="poliv_trava">
        {% endif %}
        <img src="{% static 'img/trava.gif' %}" height="100" alt="sad.fif" class="need" data-on="poliv_trava">
    </div>
    <div id="sad" data-on="sad">
        {% if poliv_all.poliv_sad.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM" data-on="poliv_sad">
        {% endif %}
        <img src="{% static 'img/sad.gif' %}" height="150" alt="sad.fif" class="need" data-on="poliv_sad">
    </div>

    <div id="strawberry" data-on="strawberry">
        {% if poliv_all.poliv_strawberry.label == 'включен' %}
            <img src="{% static 'img/rain.gif' %}" height="50" alt="pesochnica.fif" class="DHUM" data-on="poliv_strawberry">
        {% endif %}
        <img src="{% static 'img/rastberry.gif' %}" height="100" alt="strawberry.fif" class="need" data-on="poliv_strawberry">
    </div>

</div>

<form id="myForm" role="form" method="get" action="poliv_form"  >
Управление поливом по рассписанию!
    <div class="row">

        <div class="col-sm-8">

            <div class="form-group"> <label><span class="hidden-xs">
                {% if poliv.label == 'выключен' %} <a href="{% url 'poliv_on_of'  %}">  <button type="button" class="btn btn-secondary b" >Включить полив</button></a>
    {% else %} <a href="{% url 'poliv_on_of' %} ">  <button type="button" class="btn btn-success  b" >Выключить полив</button></a>
    {% endif%}
                        <h6>time</h6>
                    </span></label>
                <div class="input-group"> <input type="number" value="{{ poliv.value }}" name="value" class="form-control" required >
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <button type="submit" formaction="ch_value_time" class="subscribe btn btn-warning btn-block shadow-sm"> Изменить! </button>
    <a  href="{% url 'zapusk_poliva' %}">  <button type="button" class="btn btn-dark b" >Запуск полива </button></a>
</form>




<script type="text/javascript" src="{% static 'selection_avto/jquery/jquery-3.5.1.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<script type="text/javascript" src='{% static "js/polivScript.js" %}'></script>
{% endblock %}
{% block jivo %}  {% endblock %}
