
.my-center {

    margin-right: auto;
    width: 5em
}
.b{
    width: 190px;
    border-radius: 12px;
    margin-bottom: 10px;

}
.reciculation{
    background-color: #4657b1;

}
.footer_button{
    width: 150px;
    border-radius: 13px;
    margin-bottom: 5px;

}
.time_center{
text-align: center;
}
#layer1 {
    text-align: center;
   	background: #3eabad;
    padding: 3px;
   }
.pad{
    padding-bottom: 10px;
}


.my-time {
    font-family: 'Neucha', cursive;

}

.fon:hover {
    background-color: rgba(204, 235, 236, 0.66);
    font-style: italic;
}
.picture:hover{
    transform: scale(1.4);
}