.my-center {

    margin-right: auto;
    width: 5em
}
.b{
    width: 190px;
    border-radius: 12px;
    margin-bottom: 10px;

}
.time_center{
text-align: center;
}
#layer1 {
    text-align: center;
   	background: #3eabad;
    padding: 3px;
   }
.pad{
    padding-bottom: 10px;
}
.center{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    width: 200px; /* задали размеры блоку-родителю */
    height: 200px;
    overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
}
.block-width{
    width: 180px;
}