.my-center {

    margin-right: auto;
    width: 10em
}
.b{
    width: 250px;
    border-radius: 12px;
}
.time_center{
text-align: center;
}
#layer1 {
    text-align: center;
   	background: #3eabad;
    padding: 3px;
   }
