#dvor {
    position: absolute;
    width: 400px;
    height: 700px;
    background: rgba(64, 113, 59, 0.75);
}
#dom {
    position: absolute;
    top: 490px;
    left: 80px;
}
#garaz {
    position: absolute;
    top: 595px;
    left: 255px;
    width: 140px;
    height: 100px;
}
#pesochnica {
    position: absolute;
    top: 330px;
    left: 295px;
    width: 100px;
    height: 150px;
}
#teplica {
    position: absolute;
    top: 490px;
    left: 295px;
    width: 100px;
    height: 100px;
    text-align: center;
}
#elki {
    position: absolute;
    top: 160px;
    left: 180px;
    width: 120px;
    height: 150px;

}#sad {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 120px;
    height: 150px;

}
#trava {
        position: absolute;
    top: 320px;
    left: 30px;
    width: 120px;
    height: 150px;
    }
#strawberry {
    position: absolute;
    top: 5px;
    left: 120px;
    width: 120px;
    height: 150px;

}
.DHUM {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 150px;
    height: 150px;
    z-index: 1;
}
.DHUM2 {
    position: absolute;
    top: -15px;
    left: -55px;
    width: 350px;
    height: 150px;
    z-index: 1;
}

.no-display {
    display: none;
}

#myForm{
    text-align: center;
    position: relative;
    top: 700px;
    left: 15px;
    width: 400px;
    height: 150px;
}
