{% extends "core/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block main %}
<div class="container-fluid bg-info">
    <div  class="row justify-content-center">
        <div  class="col-4">
            <h4 class="h4 mb-3 font-weight-normal">Вход в аккаунт.</h4>
            <form class="form-signin" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form }}
            <button type="submit" class="btn btn-primary b">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}