{% extends "english_2/base_english.html" %}

{% block main %}
Загружено слов - <span id="count_is">{{count}}</span>
    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Урок</th>
      <th scope="col">english</th>
      <th scope="col">russian</th>
      <th scope="col">сложное</th>
      <th scope="col">выучено</th>
      <th scope="col">фраз. глаголы</th>
      <th scope="col">Неправильные глаголы</th>
      <th scope="col">info</th>

    </tr>
  </thead>
  <tbody>
  {% for word in words %}
    <tr>
      <td>{{word.lesson}}</td>
      <td>{{word.english}}</td>
      <td>{{word.russian}}</td>
      <td>{% if word.heavy %} <a class="heavy" href="{% url 'level_2:update' word.id %}"   title="Heavy">Heavy</a> {% endif %} </td>
      <td>{% if word.learned %} <a class="learned" href="{% url 'level_2:update' word.id %}"   title="Learned">Learned</a> {% endif %} </td>
      <td>{% if word.phrasal_verbs %} <a class="phrasal" href="{% url 'level_2:update' word.id %}"   title="Phrasal">Phrasal</a> {% endif %} </td>
      <td>{% if word.irregular_verbs %} <a class="irregular" href="{% url 'level_2:update' word.id %}"   title="Irregular">Irregular</a> {% endif %} </td>
      <td>{{word.info}}</td>
      <td>
        <a href="{% url 'level_2:update' word.id %}" class="btn text-secondary px-0">
          <i class="far fa-edit fa-lg">Изменить</i>
        </a>
      </td>


    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
