{% extends "english/base_english.html" %}
{% load static %}
{% block main %}
<script type="text/javascript" src="{% static 'selection_avto/jquery/jquery-3.5.1.js'%}"></script>
<div id="word" class="alert alert-primary" role="alert">
  Это основное уведомление — check it out!
</div>

<form onsubmit="start();return false">
{% csrf_token %}
  <div id="start" class="form-group">
    <label for="exampleFormControlInput1">Перевод:</label>
    <button id="learned" type="button" class="btn btn-outline-success" >Выучено</button>
    <input type="text" autocomplete="off" class="form-control" id="exampleFormControlInput1" placeholder="...">
  </div>
  <button type="submit">Submit form</button>
  <button id="heavy" type="button" class="btn btn-outline-dark" >Сложное</button>
</form>
<hr>
<span id="result" class="btn btn-primary btn-lg" style="display: none">Answer</span>
<div id="ok" class="alert alert-danger" role="alert" style="display: none">
  Не верно.
</div>
<button id="dellete_word" type="button" class="btn btn-danger" style="display: none">Удалить?</button>
<div id="error" class="alert alert-success" role="alert" style="display: none">
  Верно! Удалено.
</div>
Загружено слов - <span id="count_is">{{count}}</span>
{% endblock %}

{% block script %}
  <script type="text/javascript" src='{% static "english/e-r.js" %}'></script>
{% endblock %}