{% extends "english/base_english.html" %}
{% load static %}
{% block main %}

{% csrf_token %}
<h4>
  <div id="word" class="alert alert-primary" role="alert">
    Загрузка слов!
  </div>
</h4>

<div id="start" class="form-group">
  <button id="gerund_button" type="button" class="btn-outline-success"   style="height:50px; width:100px; display: inline" >Gerund</button>
  <button id="infinitive_button" type="button" class="btn-outline-info" style="height:50px; width:100px; display: inline" >Infinitive</button>
  <button id="all_of_them" type="button" class="btn-outline-warning" style="height:50px; width:100px; display: inline" >All</button>
</div>
<button id="submit_button" type="submit">Выбрать нужный вариант</button>

<hr>
<h4 class="alert-heading">
  <span id="result" class="alert alert-success" style="display: none">Answer</span>
  <div id="ok" class="alert alert-danger" role="alert" style="display: none">
    Не верно.
  </div>
</h4>

<button id="dellete_word" type="button" class="btn btn-danger" style="display: none">Удалить?</button>

<button id="learned" type="button" class="btn btn-outline-success" style="display: inline" >Выучено</button>

<div id="error" class="alert alert-success" role="alert" style="display: none">
  Верно! Удалено.
</div>
<hr>
Загружено слов - <span id="count_is">{{count}}</span>
{% endblock %}

{% block script %}
  <script type="text/javascript" src='{% static "english/play.js" %}'></script>
{% endblock %}
