{% extends "english/base_english.html" %}

{% block main %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary">Найти</button>
</form>
{% if count %}
найдено слов: {{count}}
{% endif %}
{% if english_words %}
    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Урок</th>
      <th scope="col">english</th>
      <th scope="col">russian</th>
      <th scope="col">сложное</th>
      <th scope="col">выучено</th>
      <th scope="col">info</th>

    </tr>
  </thead>
  <tbody>
  {% for word in english_words %}
    <tr>
      <td>{{word.lesson}}</td>
      <td>{{word.english}}</td>
      <td>{{word.russian}}</td>
      <td>{{word.heavy}}</td>
      <td>{{word.learned}}</td>
      <td>{{word.info}}</td>


    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if russian_words %}
   <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Урок</th>
      <th scope="col">english</th>
      <th scope="col">russian</th>
      <th scope="col">сложное</th>
      <th scope="col">выучено</th>
      <th scope="col">info</th>

    </tr>
  </thead>
  <tbody>
  {% for word in russian_words %}
    <tr>
      <td>{{word.lesson}}</td>
      <td>{{word.english}}</td>
      <td>{{word.russian}}</td>
      <td>{{word.heavy}}</td>
      <td>{{word.learned}}</td>
      <td>{{word.info}}</td>


    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
