{% extends "english/base_english.html" %}
{% load static %}

{% block main %}
Загружено слов - <span id="count_is">{{count}}</span>
<h1>Вставить слово</h1>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form_word}}
    <button type="submit" class="btn btn-primary">Вставить</button>
</form>
<hr>
<h1>Загрузить список</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form_list_words}}
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<hr>
<h1>Добавить Irregular Verb</h1>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{LoadIrregularVerbsForm}}
    <button type="submit" class="btn btn-primary">Вставить неправильный глагол</button>
</form>
<a href="{% url 'clear' %}" ><button type="button" class="btn btn-warning">Сбросить выученые слова</button></a>
{% endblock %}

{% block footer %}
{% endblock %}
